In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
zomato_df = pd.read_csv("./zomato_restaurants.csv")

In [4]:
zomato_df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [ ]:
zomato_df.shape

In [ ]:
zomato_df.info()

#### 1. Total Number of Restaurants

In [ ]:
len(zomato_df['name'].unique())

#### 2. Restaurant with Online Order Option.

In [ ]:
zomato_df['online_order'].value_counts() / zomato_df.shape[0] * 100

In [ ]:
zomato_df['online_order'].unique()

In [ ]:
plt.figure(figsize = (7,7))
plt.pie(zomato_df['online_order'].value_counts(), labels = zomato_df['online_order'].unique(),
       autopct = '%0.2f%%', colors = ['red','mistyrose'])
plt.show()

#### 3. Restaurant with Online Book Table Option.

In [ ]:
zomato_df['book_table'].value_counts() / zomato_df.shape[0] * 100

In [ ]:
plt.figure(figsize = (7,7))
plt.pie(zomato_df['book_table'].value_counts(), labels = zomato_df['online_order'].unique(),
       autopct = '%0.2f%%', colors = ['red','mistyrose'])
plt.show()

#### 4. Famous Chains in Bengaluru

In [ ]:
zomato_df['name'].value_counts().sort_values(ascending=False)[:21]

In [ ]:
names = zomato_df['name'].value_counts().sort_values(ascending=False)[:21].index

In [ ]:
restaurant_count = zomato_df['name'].value_counts().sort_values(ascending=False)[:21].values

In [ ]:
plt.figure(figsize = (14,8))
sns.set_style('whitegrid')
sns.barplot(x = restaurant_count, y = names, orient='h', hue = names, palette='Set1')

#### 5. Find Most Popular Restaurant Type in Bengaluru.

In [ ]:
zomato_df['rest_type'].value_counts().sort_values(ascending=False)[:21]

In [ ]:
rest_type = zomato_df['rest_type'].value_counts().sort_values(ascending=False)[:21].index

In [ ]:
rest_type_count = zomato_df['rest_type'].value_counts().sort_values(ascending=False)[:21].values

In [ ]:
plt.figure(figsize = (14,8))
sns.set_style('whitegrid')
sns.barplot(x = rest_type_count, y = rest_type, orient='h', hue = rest_type, palette='Set1')

* Most popular restaurant type in Bengaluru is Quick Bytes.

#### 6. Distribution of Restaurant Cost (For 2 Person).

In [ ]:
zomato_df['approx_cost(for two people)'].unique()

In [ ]:
zomato_df['approx_cost(for two people)'] = zomato_df['approx_cost(for two people)'].str.replace(',','').astype('float64')

#### Check if it is skewed?

In [ ]:
import warnings
warnings.filterwarnings('ignore')
plt.figure(figsize = (10,7))
sns.distplot(zomato_df['approx_cost(for two people)'], color = 'red')

In [ ]:
plt.figure(figsize = (10,4))
sns.boxplot(zomato_df['approx_cost(for two people)'], color = 'red', orient='h')

In [ ]:
zomato_df['approx_cost(for two people)'].median()

In [ ]:
Q1 = zomato_df['approx_cost(for two people)'].quantile(0.25)
Q2 = zomato_df['approx_cost(for two people)'].quantile(0.5)
Q3 = zomato_df['approx_cost(for two people)'].quantile(0.75)
print("First Quartile: ", Q1, "\nMedian: ", Q2, "\nThird Quartile: ", Q3)

In [ ]:
IQR = Q3 - Q1
print("Inter-Quartile Range of Cost for two people: ", IQR)

* Approx cost of two people range from Rs. 300 to Rs. 650, with meadian cost approx to Rs. 400. Yes the approx cost for two person is skewed towards positive. Hence, Positive Skewness.

#### 7. Find Least Popular Restaurant Type in Bengaluru.

In [ ]:
zomato_df['rest_type'].value_counts().sort_values(ascending=True)[:20]
least_rest_type = zomato_df['rest_type'].value_counts().sort_values(ascending=True)[:20].index
least_rest_count = zomato_df['rest_type'].value_counts().sort_values(ascending=True)[:20].values

In [ ]:
plt.figure(figsize = (14,8))
sns.set_style('whitegrid')
sns.barplot(x = least_rest_count, y = least_rest_type, orient='h', hue = least_rest_type, 
            palette='Set1')

#### 8. Which are the Top 20 Locations with Most Number of Restaurants.

In [ ]:
city = zomato_df['listed_in(city)'].value_counts().sort_values(ascending=False)[:20].index
city_count = zomato_df['listed_in(city)'].value_counts().sort_values(ascending=False)[:20].values

In [ ]:
plt.figure(figsize = (14,8))
sns.set_style('whitegrid')
sns.barplot(x = city_count, y = city, orient='h', hue = city, palette='Set1')

* Most Popular Places in Bengaluru with most number of restaurant are - BTM Layout, Koramangala, Jayanagar.

#### 9. Most Popular Restaurant's Category

In [ ]:
zomato_df['cuisines'].value_counts()

In [ ]:
cuisines = zomato_df['cuisines'].value_counts().sort_values(ascending=False)[:20].index
restaurant_count = zomato_df['cuisines'].value_counts().sort_values(ascending=False)[:20].values

In [ ]:
plt.figure(figsize = (14,8))
sns.set_style('whitegrid')
sns.barplot(x = restaurant_count, y = cuisines, orient='h', hue = cuisines, palette='Set1')

* Most popular Restaurant Category in Bengaluru are - North Indian, South Indian, Chinese, Biryani Outlets.

#### 10. Distribution of Restaurant Ratings.

In [ ]:
zomato_df['rate'] = zomato_df['rate'].str.replace('/5', '').replace('-',np.nan).replace('NEW',np.nan).astype('float64')

In [ ]:
plt.figure(figsize = (14,8))
sns.set_style('whitegrid')
sns.distplot(zomato_df['rate'], color = 'red')
plt.show()

#### 11. Top Rated Restaurant From Most Popular Restaurant Types.

In [ ]:
top_rest_types = zomato_df['rest_type'].value_counts().sort_values(ascending=False)[:21].index

In [ ]:
zomato_df.groupby('rest_type')[['name','rate']].max().filter(items = top_rest_types, axis = 0)

#### 12. Relationship Between Rating and Approx Cost (For Two Person)

In [ ]:
plt.figure(figsize = (14,11))
sns.scatterplot(x = 'rate', y = 'approx_cost(for two people)', data=zomato_df, hue='listed_in(type)',
               palette='Set1')

#### 13. Highlight the Resturant Frequency on Map.

In [ ]:
!pip install geopy

In [ ]:
!pip install folium

In [ ]:
from geopy.geocoders import Nominatim
import pandas as pd
locations = pd.DataFrame({"Name":zomato_df['location'].unique()})
locations['Name'] = locations['Name'].apply(lambda x : "Bangalore " + str(x))
geolocator = Nominatim(user_agent="app")

lat_long = []
for location in locations['Name']:
    location = geolocator.geocode(location)
    if location is None:
        lat_long.append(np.nan)
    else:
        geo = (location.latitude, location.longitude)
        lat_long.append(geo)

In [ ]:
locations['geo_loc'] = lat_long
locations.head()

In [4]:
locations.to_csv("C:/Users/Administrator/Downloads/locations.csv")

NameError: name 'locations' is not defined